.bodyProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 8em;
  margin: 2em;
}
.profile {
  display: flex;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1em;
}

.imgProfile {
  width: 2em;
  height: 2em;
}
.cardProfile {
  display: flex;
  height: 22em;
  width: 22em;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 2em;
  font-size: medium;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservas {
  display: flex;
  align-items: center;
  justify-content: row;
}

.botonLogOut {
  display: flex;
  width: 25em;
  border: 0;
  position: relative;
  background-color: #101115;
  border-radius: 5px;
  height: 3em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1em;
  margin-top: 2em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botonLogOut:hover {
  background-color: red;
  transition: 0.2s;
}
