
.header {
    height: 6em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.imgUser{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    transition: 0.3s;
}
.imgUser:hover{
    transform: scale(1.2);
}
.logo{
    height: 3em;
    width: 9em;
    display: flex;
    position: relative;
    left: 1em;
    cursor: pointer;

}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

